.Layout {
    /* background-color: #b4efe1;
    height: 100%; */
    padding: 30px 10px;
    display: flex;
}

.BoardName {
    position: absolute;
    margin-top: -39px;
    margin-left: 25px;
    font-weight: bold;
    letter-spacing: 6px;
}